@model IEnumerable<Iotshop.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Items</th>
        <th>Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Timestamp.ToShortDateString()</td>
            <td>@item.NewOrderLines.Count</td>
            <td>€@item.TotalPrice</td>
        </tr>
    }
</table>
<a class="btn btn-info" href="/Catalog/">Back to list</a>
