@model Week2Oefening1.Models.BasketItem

<article class="product-detail">
    <h2>Rent this product</h2>
    @using (Html.BeginForm("rent", "catalog", FormMethod.Post, new { @class = "form", @enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Amount)
            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Amount)
        </div>

        @Html.HiddenFor(m => m.RentDevice.Id)

        <input class="btn btn-success" type="submit" value="Add to basket" />
    }
</article>