@model Week2Oefening1.Models.BasketItemCountPrice

@{
    ViewBag.Title = "Index";
}

<h2>Basket case</h2>

<table class="table">
    <tr>
        <th>Device</th>
        <th>Unit price</th>
        <th>Amount</th>
        <th>Price</th>
    </tr>
    @foreach(var item in Model.DeviceAmounts)
    {
        double price = item.Key * item.Value.RentingPrice;
        <tr>
            <td>@item.Value.Name</td>
            <td>@item.Value.RentingPrice</td>
            <td>@item.Key</td>
            <td>€@price</td>
        </tr>
    }
</table>
<p><strong>Total price: €@Model.TotalPrice</strong></p>
<a class="home-link" href="/Catalog/">Terug naar overzicht >></a>