body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    Code Kristof Colpaert
*/

.form
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form label, .form input, form select
{
    display: block;
    width: 100%;
    max-width: 100%;
}

.form input, .form select
{
    margin-bottom: 25px;
}

.navbar
{
    background-color: #7f8c8d;
    border-width: 0px;
}

.nav li a
{
    color: #ffffff !important;
}

.navbar-brand
{
    color: #ffffff !important;
}

.product
{
    padding: 30px;
}

.product-detail h2
{
    text-align: center;
}

.product-detail img
{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto; 
    margin-right: auto;
}

.product-detail aside
{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.product-detail aside p
{
    font-weight: bold;
}

.product-detail aside ul li
{
    font-style: italic;
}

.home-link
{
    display: inline-block;
    margin-top: 50px;
}
